Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/ProjectSettings/Packages/com.unity.probuilder/Settings.json
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Nemefish/Assets/Art/Gun Sprites/Gun Sprite.png.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_AWAY_NEUTRAL_WOUNDED_IDLE 1.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_AWAY_NEUTRAL_WOUNDED_IDLE-Sheet 1.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_NEUTRAL-Sheet.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_NEUTRAL.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_NEUTRAL_IDLE-Sheet.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_NEUTRAL_IDLE.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_WOUNDED_IDLE-Sheet.aseprite.meta
Nemefish/Assets/Art/PC_SPRITES/PC_STANDING_FORWARD_WOUNDED_IDLE.aseprite.meta
Nemefish/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
